
body{
  background-image: url('https://weather-api-website-2019-cloud-computing.s3.amazonaws.com/images/portfolio/1.jpg');
  background-position: center;
  background-repeat: norepeat;
  background-color: #FFFBF0;
  height: 100%;
  background-size: cover;
}

h2, h1 {
  font-family: 'Righteous',sans-sans-serif;

  }

#header {
    font-size: 3rem;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;

  }
